<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
          internalLogFile="${basedir}/logs/nlog.log"
      internalLogLevel="Info" >

	<targets>
		<target xsi:type="File" name="logfile" fileName="${basedir}/logs/fc.log"
										layout="${longdate} : ${level} : ${message}  ${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
										layout="${longdate} : ${level} : ${message}  ${all-event-properties} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- Set every log level as "Info" before product compilation. "Trace" is develop-only. -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="FileComparer.Main.Cosole" minlevel="Info" writeTo="logconsole" />
		<logger name="FileComparer.Main.File" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>